.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 24px;
    padding-left: 156px;
    align-items: center;
}

.gallery img {
    width: 360px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.gallery img:hover {
    transform: scale(1.05);
}
ul {
    list-style: none;
}